<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="adminDash">
    <div class="adminTitle">
        <h1>HNHS Official Website ADMIN Center</h1>
        <img src="FB_IMG_1743228803306.jpg" alt="">
    </div>
    <div class="adminMenu">
        <h3>Admin Center Page</h3>
        <img src="FB_IMG_1743228803306.jpg" alt="">
        <div class="adManage">
            <p>Manage Studets & Teacher</p>
            <button onclick="showStuds()">Students</button>
            <div class="manStud">
                <button>Junior High</button>
                <button>Senior High</button>
            </div>
            <button onclick="showEmps()">Faculty & Staff</button>
            <div class="manFS">
                <button>Teacher</button>
                <button>Staff</button>
            </div>
        </div>
        <div class="manStrand">
            <button>Manage SHS Strands</button>
        </div>
        <div class="adSettings">
            <button>Account</button>
            <button>Settings</button>
            <button>Log Out</button>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>