<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="adLogpage">
    <div class="adIntro">
        <h1 class="adWelcome">Welcome to HNHS</h1>
        <h2 class="adH2Wel">Official Students Information Website</h2>
    </div>
    <h1 class="adLogintxt">Admin Login:</h1>
    <div class="adBoxlog">
        <label for="username">Username:</label>
        <input type="text" id="username" class="teachUsernameLog">
        <label for="password">Password: </label>
        <input type="password" id="password" class="teachPasswordLog">
    </div>
    <button type="button" class="adLogbtn">LOGIN</button>
    <button class="adForget">Forgot your password?</button>
</body>
<script src="script.js"></script>
</html>