<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="teacherdash">
    <div class="teacherTitle">
        <h1>HNHS Official Website</h1>
        <img src="FB_IMG_1743228803306.jpg" alt="" class="tlogo">
    </div>
    <div class="teacherMenu">
        <div class="tAcc"><img src="user.png" alt="" class="tAccImg"><p class="pp">Teacher</p></div>
        <p class="thdash">Dashboard</p>
        <div class="menuGroup">
            <button>Manage Class</button>
            <button>Input Grades</button>
            <button>Generate Reports</button>
        </div>
        <div class="setGroup">
            <button>Account</button>
            <button>Settings</button>
        </div>
        <div class="helpGroup">
            <button>Help</button>
            <button>Log Out</button>
        </div>
    </div>
    <div class="teacherManage">

    </div>
</body>
<script src="script.js"></script>
</html>